{{page-title "Third Sight - Modern Portal"}}

<div class="intro">
  <h1 class="ts-welcome-header">
    Welcome to Third Sight - Modern Portal v6!
  </h1>
  <p>Email Management System</p>
</div>

{{outlet}}